
.container {
  width: 200px;
  border: 1px solid rgb(170, 160, 160);
  border-radius: 15px;
  padding: 10px;
  font-weight: 50px;
  background-color: rgb(28, 28, 25);
  box-shadow: 3px 3px rgb(72, 26, 26), -1em 0 .4em olive;}